<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Appointment Id</th>
      <th scope="col">Service</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Customer</th>
      <th scope="col">Employee</th>
      <th scope=""></th>
      <th scope=""></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of appointments">
      <td>{{a.appId}}</td>
      <td>{{a.service.serviceName}}</td>
      <td>{{a.appDate}}</td>
      <td>{{a.appTime}}</td>
      <td>{{a.customer.custName}}</td>
      <td>{{a.employee.empName}}</td>
      <!-- <td><button type="button" class="btn btn-secondary">Edit</button></td> -->
      <td><button (click)="DeleteAppointment(a)" type="button" class="btn btn-secondary"><i
            class="fa fa-trash"></i></button></td>
    </tr>
  </tbody>
</table>