<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <!-- <img src="../../../assets/customer_iamge.jpg" alt="John" style="width:100%"> -->
    <h1>Your Appointment</h1>
    <table class="">
        <tr>
            <td>Appointment Date</td>
            <td>****</td>
        </tr>

        <tr>
            <td>Appointment Time</td>
            <td>****</td>
        </tr>
    </table>
    <nav>
        <button class="btn1"> <a routerLink="#">Edit</a></button>
        <button class="btn1"> <a routerLink="#">Cancel</a></button>
    </nav>
</div>