h1{
    color: papayawhip;
}


span{
    color: papayawhip;
}

*{
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
}
/* body{
  background:  url(../../assets/images/greg-trowman-k7AvgINPgdg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
} */


.banner-text{
  text-align: center;
  color: #fff;
  padding-top: 50px;
}
.banner-text h1{
  font-size: 100px;
  font-family: 'Kaushan Script', cursive;
}
.banner-text p{
  font-size: 20px;
  font-style: italic;
}
.banner-btn a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 5px 10px;
  padding: 12px 0;
  color: #fff;
  border: .5px solid #d1e4ee;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}
.banner-btn a span{
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span{
  width: 100%;
}
.banner-btn a:hover {
  color:#000;
}

body {
  background:  url(../../../assets/images/greg-trowman-k7AvgINPgdg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background: #333; */
  display: flex;
  justify-content: center;
  align-items: center;   
  font-family: sans-serif;
  /* background-color: #f1f1f1;  */
}

.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container .card {
  position: relative;
  border-radius: 10px;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.container .card:nth-child(1) .icon {
  background: #e07768;
}

.container .card:nth-child(2) .icon {
  background: #6eadd4;
}

.container .card:nth-child(3) .icon {
  background: #4aada9;
}


.container .card .icon .fa {
  position: absolute;
  top: 19%;
  left: 91%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  transition: 0.7s;
  color: #75141d;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i{
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container a {
  text-decoration: none;
  /* color: #414141; */
}

#quote{
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;
  margin-top:-250px;
  color: white;
  text-shadow: 2px 2px #bd5377;

}

table{
  text-align: center;
  color: blanchedalmond;
  background-color: black;
}

#mybtn{
  color: black;
  background-color: white;
  display: block;
  padding: 10px 22px;
  /* border-radius: 20px; */
  text-decoration: none;
  float: right;
  margin-top: -80px;
}

#mybtn:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  /* height: 40px;
  align-items: center; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: large;
  width: 200px;
  margin-left: 0px;
  margin-right: 50px;
  margin-bottom: 270px;
  background-color: #908585;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
